body{
    background-color: #2792c3;
    overflow-x: hidden;
}

#firstview h1{
    color: black;
    font-family: 'Homemade Apple', cursive;
    font-size: 60px;
    position: relative;
    text-align: center;
    padding: 250px 0 250px 0;
    opacity: 0.7;
}
#firstview{
    background: linear-gradient(to bottom, transparent 0%, transparent 85%, #2792c3 100%), url(../img/01.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin: -50px -20px;
}
header{
    position: fixed;
    left: 0;
    right: 0;
    background-color:rgba(34, 58, 112, 0.8);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 89px;
    z-index:100;
}
header nav {
    text-align: right;
    margin-right: 60px;
    margin-top: 20px;
    z-index:100;
}
header nav ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 16px;
    letter-spacing : 4px;
    z-index:100;
}
header nav ul li a {
    text-decoration: none;
    color: #ddd;
    font-family: 'Vidaloka', serif;
    width: 6%;
    z-index:102;
}
header nav ul li a:hover{
  color: #f0e68c;
  width: 6%;
  z-index:103;
}
#logo{
    position:fixed;
    font-size: 160px;
    font-family: 'Vidaloka', serif;
    z-index: 900;
}

/* ページトップへ戻る */
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}

/* フロー-------------- */
 .box1 {
    background-color:rgba(255, 255, 255, 0.9);
    width: 40%;
    margin: 100px auto 0 auto;
    padding: 80px;
    font-family: 'Vidaloka', serif;
 }
 .box1 h2{
  letter-spacing : 2px;
  font-size: 32px;
 }
 .box1 p{
   padding:20px 0px;
 }
 .flow li {
    list-style-type: none;
  }
  .flow {
    padding-left: 120px;
    position: relative;
  }
  .flow::before {
    content: "";
    width: 15px;
    height: 100%;
    background: #f4dda5;
    margin-left: -8px;
    display: block;
    position: absolute;
    top: 0;
    left: 120px;
  }
  .flow > li {
    position: relative;
  }
  .flow > li:not(:last-child) {
    margin-bottom: 8vh;
  }
  .flow > li .icon {
    font-size: 12px;
    color: #fff;
    background: rgb(39,146, 195);
    background: -moz-linear-gradient(left, rgba(39,146,195,1) 0%, rgba(155, 180, 194, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(39,146,195,1) 0%,rgba(155, 180, 194, 1) 100%);
    background: linear-gradient(to right, rgba(39,146,195,1) 0%,rgba(155, 180, 194, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
    padding: 8px 20px;
    display: block;
    position: absolute;
    top: 0;
    left: -120px;
    z-index: 50;
  }
  .flow > li .icon::after {
    content: "";
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #9bb4c2;
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .flow > li dl {
    padding-left: 70px;
    position: relative;
  }
  .flow > li dl::before,
  .flow > li dl::after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
  }
  .flow > li dl::before {
    width: 7px;
    height: 7px;
    margin-top: -3px;
    background: #fff;
    border-radius: 50%;
    left: -4px;
  }
  .flow > li dl::after {
    width: 50px;
    border-bottom: 1px dashed #999;
    position: absolute;
    left: 5px;
  }
  .flow > li dl dt {
    font-size: 20px;
    font-weight: 600;
    color: rgb(107,144,219);
    margin-bottom: 1vh;
    letter-spacing : 1px;
  }
  /* カロ―セル--------------- */
  .slider-area {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;
  }
  .slider-area.w300 {
    max-width: 300px;
  }
  .slick-slide {
    margin: 0 5px;
  }
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  .slick-prev, .slick-next {
    z-index: 1;
  }
  .slick-prev:before, .slick-next:before {
    color: #000;
  }
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }
  .slider-nav {
    margin: 20px 0 0;
  }
  .slider-nav .slick-slide {
    cursor: pointer;
  }
  .slider-nav .slick-slide:hover {
    opacity: .7;
  }
  #gif-area{
    position: relative;
    margin: 100px 40px 0 40px;
  }
  #gif-area img,
  #gif-area gif{
    width:100%;
    max-width: 100%;
    height: auto;
  }
  #gif-area p{
    font-size: 16px;
    text-align: center;
  }
/* footer-------------------- */
footer{
  background: linear-gradient(to top, transparent 0%, transparent 60%, #2792c3 100%), url(../img/02.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin: 100px -20px -20px -20px;
}
footer a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Homemade Apple', cursive;
  border: 2px solid;
  padding: 20px 60px;
  -webkit-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}
footer a:hover{
  color: rgba(255, 255, 255, 1);
  box-shadow: rgba(255, 255, 255, 0.3) 0 0px 0px 80px inset;
}
footer p{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 120px;
}


@media screen and (min-width:768px) and ( max-width:1024px) {
  header{
    position: fixed;
    left: 0;
    right: 0;
    background-color:rgba(34, 58, 112, 0.8);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    z-index:100;
}
    header nav ul li{
      list-style: none;
      display: inline-block;
      font-size: 50px;
      margin-top: 16px;
      letter-spacing : 4px;
      z-index:100;
  }
  .box1 {
    background-color:rgba(255, 255, 255, 0.9);
    width: 60%;
    margin: 100px auto 0 auto;
    padding: 80px;
    font-family: 'Vidaloka', serif;
 }
 .box1 h2{
  letter-spacing : 2px;
  font-size: 50px;
 }
 .box1 p{
   font-size: 20px;
 }

}